

* {margin: 0; padding: 0;}

.form_hint, .required_notification {font-size: 18px;}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
}

#main {
	width: 680px;
	margin: auto;
	margin-top: 100px;	
}

#main h3 {
	border-bottom: 1px solid rgb(0, 0, 0);
	color: #333;
	padding-bottom: 20px;
	margin-bottom: 20px;	
}

#main a {
	color: #333;
	text-decoration: none;
}	

#main a:hover {
	color: #03F;	
}
.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}

.table1 tr th{
    background: #ffffff;
    color: rgb(19, 16, 16);
    font-weight: normal;
}

.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #ffffff;
}

.table1 tr:nth-child(even) {
    background-color: #ffffff;
}
.button {
	background-color: #0bf746;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  .button2 {
	background-color: #130fe4;
	border: none;
	color: white;
	padding: 5px 15px;
	text-align: right;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
  }
  input {
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  .button {border-radius: 12px;}
  .button2 {border-radius: 12px;}